# Demo Notebook - July 10th

This notebook demonstrates the building blocks that lead to Query 0 (Genome Feature to Reaction Mapping) and explores comparative genomics across 50 E. coli strains.

## Part 1: Building Blocks for Query 0

Let's explore each component that makes the genome-to-reaction mapping possible.

In [ ]:
# Setup - Import required libraries and initialize Spark
from spark.utils import get_spark_session
import time
import pandas as pd
from IPython.display import display

spark = get_spark_session()
namespace = 'ontology_data'

# Helper function to time queries
def time_query(query_name, query_func):
    """Execute a query and print execution time"""
    print(f"\n{'='*60}")
    print(f"Executing: {query_name}")
    print(f"{'='*60}")
    start_time = time.time()
    result = query_func()
    end_time = time.time()
    execution_time = end_time - start_time
    print(f"\nQuery execution time: {execution_time:.2f} seconds")
    return result

### 1. Exploring SEED Reactions in the Ontology

SEED reactions are stored in the statements table with their labels. Let's see what they look like:

In [ ]:
def explore_seed_reactions():
    query = f"""
    SELECT 
        subject as reaction_id,
        predicate,
        value as reaction_name
    FROM {namespace}.statements
    WHERE subject LIKE 'seed.reaction:%'
    AND predicate = 'rdfs:label'
    LIMIT 20
    """
    
    df = spark.sql(query).toPandas()
    print(f"Sample SEED reactions from the ontology:")
    display(df)
    
    # Count total reactions
    count_query = f"""
    SELECT COUNT(DISTINCT subject) as total_reactions
    FROM {namespace}.statements
    WHERE subject LIKE 'seed.reaction:%'
    AND predicate = 'rdfs:label'
    """
    count = spark.sql(count_query).collect()[0]['total_reactions']
    print(f"\nTotal SEED reactions in ontology: {count:,}")

# Execute without capturing return value to avoid duplicate display
time_query("Explore SEED Reactions", explore_seed_reactions)

### 2. Exploring SEED Roles in the Ontology

SEED roles represent enzyme functions. Let's examine them:

In [ ]:
def explore_seed_roles():
    query = f"""
    SELECT 
        subject as role_id,
        predicate,
        value as role_name
    FROM {namespace}.statements
    WHERE subject LIKE 'seed.role:%'
    AND predicate = 'rdfs:label'
    LIMIT 20
    """
    
    df = spark.sql(query).toPandas()
    print(f"Sample SEED roles (enzyme functions) from the ontology:")
    display(df)
    
    # Count total roles
    count_query = f"""
    SELECT COUNT(DISTINCT subject) as total_roles
    FROM {namespace}.statements
    WHERE subject LIKE 'seed.role:%'
    AND predicate = 'rdfs:label'
    """
    count = spark.sql(count_query).collect()[0]['total_roles']
    print(f"\nTotal SEED roles in ontology: {count:,}")

time_query("Explore SEED Roles", explore_seed_roles)

### 3. Understanding Term Associations: How Roles Map to Reactions

The term_association table connects SEED roles to reactions they catalyze:

In [ ]:
def explore_term_associations():
    query = f"""
    WITH role_reaction_mappings AS (
        SELECT 
            ta.subject as role_string,
            ta.predicate,
            ta.object as reaction_id
        FROM {namespace}.term_association ta
        WHERE ta.object LIKE 'seed.reaction:%'
        AND ta.predicate = 'RO:0002327'
        LIMIT 20
    ),
    enriched_mappings AS (
        SELECT 
            m.role_string,
            r.value as role_name,
            m.reaction_id,
            rxn.value as reaction_name,
            m.predicate
        FROM role_reaction_mappings m
        LEFT JOIN {namespace}.statements r 
            ON m.role_string = r.subject AND r.predicate = 'rdfs:label'
        LEFT JOIN {namespace}.statements rxn 
            ON m.reaction_id = rxn.subject AND rxn.predicate = 'rdfs:label'
    )
    SELECT * FROM enriched_mappings
    """
    
    df = spark.sql(query).toPandas()
    print(f"Sample role-to-reaction mappings:")
    display(df)
    
    # Show predicate meaning
    print("\nNote: predicate 'RO:0002327' means 'enables' - the role enables/catalyzes the reaction")

time_query("Explore Term Associations", explore_term_associations)

### 4. Exploring Feature Annotations: RAST Roles in Genomes

The feature_annotation table contains RAST annotations that match SEED role names:

In [ ]:
def explore_feature_annotations():
    query = f"""
    SELECT 
        genome_id,
        feature_id,
        rast,
        bakta_gene,
        bakta_product
    FROM {namespace}.feature_annotation
    WHERE genome_id = '562.61239'
    AND rast IS NOT NULL
    LIMIT 20
    """
    
    df = spark.sql(query).toPandas()
    print(f"Sample RAST annotations from E. coli genome 562.61239:")
    display(df)
    
    # Count features with RAST annotations
    count_query = f"""
    SELECT 
        COUNT(*) as features_with_rast,
        COUNT(DISTINCT rast) as unique_rast_roles
    FROM {namespace}.feature_annotation
    WHERE genome_id = '562.61239'
    AND rast IS NOT NULL
    """
    counts = spark.sql(count_query).collect()[0]
    print(f"\nGenome 562.61239 has:")
    print(f"  - {counts['features_with_rast']:,} features with RAST annotations")
    print(f"  - {counts['unique_rast_roles']:,} unique RAST roles")

time_query("Explore Feature Annotations", explore_feature_annotations)

### 5. Connecting Features to Roles: The Key Link

Let's verify that RAST annotations in feature_annotation match SEED role subjects in term_association:

In [ ]:
def verify_rast_to_role_connection():
    query = f"""
    WITH genome_rast_roles AS (
        -- Get unique RAST roles from our genome
        SELECT DISTINCT rast
        FROM {namespace}.feature_annotation
        WHERE genome_id = '562.61239'
        AND rast IS NOT NULL
    ),
    matching_term_associations AS (
        -- Find which RAST roles exist in term_association
        SELECT 
            gr.rast,
            COUNT(DISTINCT ta.object) as reaction_count
        FROM genome_rast_roles gr
        INNER JOIN {namespace}.term_association ta
            ON gr.rast = ta.subject
        WHERE ta.object LIKE 'seed.reaction:%'
        GROUP BY gr.rast
    )
    SELECT 
        rast as role_string,
        reaction_count
    FROM matching_term_associations
    ORDER BY reaction_count DESC
    LIMIT 20
    """
    
    df = spark.sql(query).toPandas()
    print(f"RAST roles that successfully map to reactions:")
    display(df)
    
    # Summary statistics
    stats_query = f"""
    WITH genome_rast AS (
        SELECT DISTINCT rast
        FROM {namespace}.feature_annotation
        WHERE genome_id = '562.61239'
        AND rast IS NOT NULL
    ),
    mappable_rast AS (
        SELECT DISTINCT gr.rast
        FROM genome_rast gr
        INNER JOIN {namespace}.term_association ta
            ON gr.rast = ta.subject
        WHERE ta.object LIKE 'seed.reaction:%'
    )
    SELECT 
        (SELECT COUNT(*) FROM genome_rast) as total_rast_roles,
        (SELECT COUNT(*) FROM mappable_rast) as mappable_rast_roles
    """
    stats = spark.sql(stats_query).collect()[0]
    print(f"\nMapping success rate:")
    print(f"  - Total unique RAST roles: {stats['total_rast_roles']}")
    print(f"  - Roles that map to reactions: {stats['mappable_rast_roles']}")
    print(f"  - Success rate: {stats['mappable_rast_roles']/stats['total_rast_roles']*100:.1f}%")

time_query("Verify RAST to Role Connection", verify_rast_to_role_connection)

### 6. Final Query 0: Genome Feature to Reaction Mapping

Now let's put it all together - this is the complete query that maps genome features to reactions:

In [ ]:
def query_genome_reactions():
    query = f"""
    WITH genome_features AS (
        -- Step 1: Get features with RAST annotations from our genome
        SELECT 
            f.genome_id,
            f.feature_id,
            f.rast
        FROM {namespace}.feature_annotation f
        WHERE f.genome_id = '562.61239'
        AND f.rast IS NOT NULL
    ),
    feature_reactions AS (
        -- Step 2: Map RAST roles to SEED reactions via term_association
        SELECT DISTINCT
            gf.genome_id,
            gf.feature_id,
            gf.rast,
            ta.object as seed_reaction
        FROM genome_features gf
        INNER JOIN {namespace}.term_association ta
            ON gf.rast = ta.subject  -- This is the key join!
        WHERE ta.object LIKE 'seed.reaction:%'
    ),
    reaction_names AS (
        -- Step 3: Get human-readable reaction names from statements
        SELECT 
            subject as reaction_id,
            value as reaction_name
        FROM {namespace}.statements
        WHERE predicate = 'rdfs:label'
        AND subject LIKE 'seed.reaction:%'
    )
    -- Step 4: Combine everything
    SELECT 
        fr.genome_id,
        fr.feature_id,
        fr.rast,
        fr.seed_reaction,
        rn.reaction_name
    FROM feature_reactions fr
    LEFT JOIN reaction_names rn ON fr.seed_reaction = rn.reaction_id
    ORDER BY fr.genome_id, fr.feature_id
    LIMIT 100
    """
    
    df = spark.sql(query).toPandas()
    print(f"Genome features mapped to their catalyzed reactions:")
    display(df.head(20))
    print(f"\nTotal features with reaction mappings shown: {len(df)}")

time_query("Complete Genome Feature to Reaction Mapping", query_genome_reactions)

---

## Part 2: Extra Queries - Comparative Analysis of 50 E. coli Strains

Now let's explore the diversity across all 50 E. coli genomes using multi-table queries.

### 1. Core vs Accessory Genes: What's Universal vs Strain-Specific?

### 1. Core vs Accessory Genes: What's Universal vs Strain-Specific?

This query analyzes the pangenome structure by examining which genes (UniRef clusters) are shared across all 50 strains (core genes) versus those found in only some strains (accessory genes). Understanding the core genome helps identify essential functions for E. coli survival, while accessory genes reveal the evolutionary adaptations and niche-specific capabilities.

In [ ]:
def analyze_core_accessory_genes():
    query = f"""
    WITH gene_distribution AS (
        -- Count how many strains have each UniRef cluster
        SELECT 
            uniref,
            COUNT(DISTINCT genome_id) as strain_count,
            ROUND(COUNT(DISTINCT genome_id) * 100.0 / 50, 1) as prevalence_pct
        FROM {namespace}.feature_annotation
        WHERE uniref IS NOT NULL
        GROUP BY uniref
    ),
    gene_categories AS (
        SELECT 
            CASE 
                WHEN strain_count = 50 THEN 'Core genes (100% strains)'
                WHEN strain_count >= 48 THEN 'Soft-core genes (96-99% strains)'
                WHEN strain_count >= 25 THEN 'Shell genes (50-95% strains)'
                ELSE 'Cloud genes (<50% strains)'
            END as gene_category,
            COUNT(*) as gene_count
        FROM gene_distribution
        GROUP BY gene_category
    )
    SELECT * FROM gene_categories
    ORDER BY 
        CASE gene_category
            WHEN 'Core genes (100% strains)' THEN 1
            WHEN 'Soft-core genes (96-99% strains)' THEN 2
            WHEN 'Shell genes (50-95% strains)' THEN 3
            ELSE 4
        END
    """
    
    df = spark.sql(query).toPandas()
    print(f"Pangenome structure of 50 E. coli strains:")
    display(df)
    
    # Show examples of accessory genes
    accessory_query = f"""
    WITH gene_counts AS (
        SELECT 
            f.uniref,
            f.bakta_product,
            COUNT(DISTINCT f.genome_id) as strain_count
        FROM {namespace}.feature_annotation f
        WHERE f.uniref IS NOT NULL
        AND f.bakta_product IS NOT NULL
        GROUP BY f.uniref, f.bakta_product
    )
    SELECT 
        uniref,
        bakta_product,
        strain_count,
        ROUND(strain_count * 100.0 / 50, 1) as prevalence_pct
    FROM gene_counts
    WHERE strain_count BETWEEN 10 AND 40
    ORDER BY strain_count DESC
    LIMIT 15
    """
    
    accessory_df = spark.sql(accessory_query).toPandas()
    print(f"\nExamples of accessory genes (present in 10-40 strains):")
    display(accessory_df)

time_query("Core vs Accessory Gene Analysis", analyze_core_accessory_genes)

### 2. Functional Diversity: EC Number Distribution Across Strains

This query examines the distribution of enzyme commission (EC) numbers across strains to understand functional diversity. By categorizing enzymes as universal, conserved, or variable, we can identify which metabolic capabilities are essential versus those that provide strain-specific advantages.

In [ ]:
def analyze_ec_diversity():
    query = f"""
    WITH strain_ec_profiles AS (
        -- Get EC number profiles for each strain
        SELECT 
            f.genome_id,
            f.bakta_ec,
            s.value as ec_name
        FROM {namespace}.feature_annotation f
        LEFT JOIN {namespace}.statements s
            ON CONCAT('EC:', f.bakta_ec) = s.subject
            AND s.predicate = 'rdfs:label'
        WHERE f.bakta_ec IS NOT NULL
    ),
    ec_distribution AS (
        -- Count how many strains have each EC number
        SELECT 
            bakta_ec,
            MAX(ec_name) as ec_name,
            COUNT(DISTINCT genome_id) as strain_count,
            ROUND(COUNT(DISTINCT genome_id) * 100.0 / 50, 1) as prevalence_pct
        FROM strain_ec_profiles
        GROUP BY bakta_ec
    ),
    categorized_ec AS (
        SELECT 
            *,
            CASE 
                WHEN strain_count = 50 THEN 'Universal'
                WHEN strain_count >= 40 THEN 'Highly conserved'
                WHEN strain_count >= 25 THEN 'Common'
                WHEN strain_count >= 10 THEN 'Variable'
                ELSE 'Rare'
            END as conservation_category
        FROM ec_distribution
    )
    SELECT 
        conservation_category,
        COUNT(*) as ec_count,
        MIN(strain_count) as min_strains,
        MAX(strain_count) as max_strains,
        ROUND(AVG(prevalence_pct), 1) as avg_prevalence_pct
    FROM categorized_ec
    GROUP BY conservation_category
    ORDER BY max_strains DESC
    """
    
    df = spark.sql(query).toPandas()
    print(f"EC number conservation across 50 E. coli strains:")
    display(df)
    
    # Show variable EC functions
    variable_ec_query = f"""
    WITH ec_counts AS (
        SELECT 
            f.bakta_ec,
            s.value as ec_name,
            COUNT(DISTINCT f.genome_id) as strain_count
        FROM {namespace}.feature_annotation f
        LEFT JOIN {namespace}.statements s
            ON CONCAT('EC:', f.bakta_ec) = s.subject
            AND s.predicate = 'rdfs:label'
        WHERE f.bakta_ec IS NOT NULL
        GROUP BY f.bakta_ec, s.value
    )
    SELECT * FROM ec_counts
    WHERE strain_count BETWEEN 10 AND 40
    ORDER BY strain_count DESC
    LIMIT 15
    """
    
    variable_df = spark.sql(variable_ec_query).toPandas()
    print(f"\nVariable enzymatic functions (present in 10-40 strains):")
    display(variable_df)

time_query("EC Number Diversity Analysis", analyze_ec_diversity)

### 3. Metabolic Capability Differences: Reaction Sets Between Strains

This query compares the total number of metabolic reactions each strain can perform by mapping RAST annotations to SEED reactions. Strains with more reactions have broader metabolic capabilities, potentially allowing them to thrive in more diverse environments or utilize a wider range of nutrients.

In [ ]:
def compare_metabolic_capabilities():
    query = f"""
    WITH strain_reactions AS (
        -- Map each strain to its set of reactions
        SELECT DISTINCT
            f.genome_id,
            ta.object as reaction_id
        FROM {namespace}.feature_annotation f
        INNER JOIN {namespace}.term_association ta
            ON f.rast = ta.subject
        WHERE f.rast IS NOT NULL
        AND ta.object LIKE 'seed.reaction:%'
    ),
    strain_reaction_counts AS (
        -- Count reactions per strain
        SELECT 
            genome_id,
            COUNT(DISTINCT reaction_id) as reaction_count
        FROM strain_reactions
        GROUP BY genome_id
    ),
    reaction_distribution AS (
        -- See how reactions are distributed
        SELECT 
            reaction_id,
            COUNT(DISTINCT genome_id) as strain_count
        FROM strain_reactions
        GROUP BY reaction_id
    ),
    stats AS (
        SELECT 
            MIN(reaction_count) as min_reactions,
            MAX(reaction_count) as max_reactions,
            AVG(reaction_count) as avg_reactions,
            STDDEV(reaction_count) as std_reactions
        FROM strain_reaction_counts
    )
    SELECT 
        'Metabolic Capacity Statistics' as metric,
        min_reactions,
        max_reactions,
        ROUND(avg_reactions, 1) as avg_reactions,
        ROUND(std_reactions, 1) as std_reactions,
        max_reactions - min_reactions as reaction_range
    FROM stats
    """
    
    df = spark.sql(query).toPandas()
    print(f"Metabolic reaction capacity across strains:")
    display(df)
    
    # Show strains with extreme metabolic capacities
    extremes_query = f"""
    WITH strain_reactions AS (
        SELECT DISTINCT
            f.genome_id,
            ta.object as reaction_id
        FROM {namespace}.feature_annotation f
        INNER JOIN {namespace}.term_association ta
            ON f.rast = ta.subject
        WHERE f.rast IS NOT NULL
        AND ta.object LIKE 'seed.reaction:%'
    ),
    strain_counts AS (
        SELECT 
            sr.genome_id,
            COUNT(DISTINCT sr.reaction_id) as reaction_count,
            MAX(s.value) as organism_name
        FROM strain_reactions sr
        LEFT JOIN {namespace}.feature_annotation fa ON sr.genome_id = fa.genome_id
        LEFT JOIN {namespace}.statements s 
            ON fa.genome_taxa = s.subject AND s.predicate = 'rdfs:label'
        GROUP BY sr.genome_id
    )
    (
        SELECT *, 'Highest capacity' as category
        FROM strain_counts
        ORDER BY reaction_count DESC
        LIMIT 5
    )
    UNION ALL
    (
        SELECT *, 'Lowest capacity' as category
        FROM strain_counts
        ORDER BY reaction_count ASC
        LIMIT 5
    )
    ORDER BY category, reaction_count DESC
    """
    
    extremes_df = spark.sql(extremes_query).toPandas()
    print(f"\nStrains with extreme metabolic capacities:")
    display(extremes_df)

time_query("Metabolic Capability Comparison", compare_metabolic_capabilities)

### 4. Taxonomic Clustering by Functional Profiles

This query profiles each strain by its enzyme class distribution (oxidoreductases, transferases, etc.) to identify functional similarities. Strains with similar enzyme profiles likely have similar metabolic capabilities and may occupy similar ecological niches.

In [ ]:
def analyze_taxonomic_functional_clusters():
    query = f"""
    WITH strain_taxonomy AS (
        -- Get taxonomic info for each strain
        SELECT DISTINCT
            f.genome_id,
            f.genome_taxa,
            s.value as strain_name
        FROM {namespace}.feature_annotation f
        LEFT JOIN {namespace}.statements s
            ON f.genome_taxa = s.subject AND s.predicate = 'rdfs:label'
    ),
    strain_functions AS (
        -- Get functional profile (EC numbers) for each strain
        SELECT 
            genome_id,
            COUNT(DISTINCT bakta_ec) as ec_count,
            COUNT(DISTINCT bakta_go) as go_count,
            COUNT(DISTINCT CASE WHEN bakta_ec LIKE '1.%' THEN bakta_ec END) as oxidoreductases,
            COUNT(DISTINCT CASE WHEN bakta_ec LIKE '2.%' THEN bakta_ec END) as transferases,
            COUNT(DISTINCT CASE WHEN bakta_ec LIKE '3.%' THEN bakta_ec END) as hydrolases,
            COUNT(DISTINCT CASE WHEN bakta_ec LIKE '4.%' THEN bakta_ec END) as lyases,
            COUNT(DISTINCT CASE WHEN bakta_ec LIKE '5.%' THEN bakta_ec END) as isomerases,
            COUNT(DISTINCT CASE WHEN bakta_ec LIKE '6.%' THEN bakta_ec END) as ligases
        FROM {namespace}.feature_annotation
        WHERE bakta_ec IS NOT NULL
        GROUP BY genome_id
    )
    SELECT 
        st.genome_id,
        st.strain_name,
        sf.ec_count,
        sf.go_count,
        sf.oxidoreductases,
        sf.transferases,
        sf.hydrolases,
        sf.lyases,
        sf.isomerases,
        sf.ligases,
        ROUND(sf.transferases * 100.0 / sf.ec_count, 1) as transferase_pct,
        ROUND(sf.hydrolases * 100.0 / sf.ec_count, 1) as hydrolase_pct
    FROM strain_taxonomy st
    JOIN strain_functions sf ON st.genome_id = sf.genome_id
    ORDER BY sf.ec_count DESC
    LIMIT 20
    """
    
    df = spark.sql(query).toPandas()
    print(f"Functional enzyme profiles by strain:")
    display(df)

time_query("Taxonomic-Functional Clustering", analyze_taxonomic_functional_clusters)

### 5. Pathway Completeness Analysis

This query evaluates the completeness of essential metabolic pathways (using glycolysis as an example) across strains. Complete pathways indicate robust metabolic capabilities, while missing reactions might represent alternative pathways or adaptations to specific environments.

In [ ]:
def analyze_pathway_completeness():
    query = f"""
    WITH glycolysis_reactions AS (
        -- Define key glycolysis reactions (example pathway)
        SELECT reaction_id, reaction_name FROM (
            VALUES 
            ('seed.reaction:rxn00558', 'Glucose-6-phosphate isomerase'),
            ('seed.reaction:rxn00604', 'Phosphofructokinase'),
            ('seed.reaction:rxn00711', 'Fructose-bisphosphate aldolase'),
            ('seed.reaction:rxn00024', 'Glyceraldehyde-3-phosphate dehydrogenase'),
            ('seed.reaction:rxn00083', 'Phosphoglycerate kinase'),
            ('seed.reaction:rxn00119', 'Phosphoglycerate mutase'),
            ('seed.reaction:rxn00094', 'Enolase'),
            ('seed.reaction:rxn00200', 'Pyruvate kinase')
        ) AS t(reaction_id, reaction_name)
    ),
    strain_glycolysis_coverage AS (
        -- Check which strains have which glycolysis reactions
        SELECT 
            f.genome_id,
            COUNT(DISTINCT gr.reaction_id) as glycolysis_reactions_present,
            8 as total_glycolysis_reactions,
            ROUND(COUNT(DISTINCT gr.reaction_id) * 100.0 / 8, 1) as pathway_completeness_pct
        FROM {namespace}.feature_annotation f
        INNER JOIN {namespace}.term_association ta ON f.rast = ta.subject
        INNER JOIN glycolysis_reactions gr ON ta.object = gr.reaction_id
        WHERE f.rast IS NOT NULL
        GROUP BY f.genome_id
    ),
    completeness_summary AS (
        SELECT 
            CASE 
                WHEN pathway_completeness_pct = 100 THEN 'Complete'
                WHEN pathway_completeness_pct >= 75 THEN 'Nearly complete'
                WHEN pathway_completeness_pct >= 50 THEN 'Partial'
                ELSE 'Incomplete'
            END as completeness_category,
            COUNT(*) as strain_count
        FROM strain_glycolysis_coverage
        GROUP BY completeness_category
    )
    SELECT * FROM completeness_summary
    ORDER BY 
        CASE completeness_category
            WHEN 'Complete' THEN 1
            WHEN 'Nearly complete' THEN 2
            WHEN 'Partial' THEN 3
            ELSE 4
        END
    """
    
    df = spark.sql(query).toPandas()
    print(f"Glycolysis pathway completeness across strains:")
    display(df)
    
    # Show which reactions are most commonly missing
    missing_reactions_query = f"""
    WITH glycolysis_reactions AS (
        SELECT reaction_id, reaction_name FROM (
            VALUES 
            ('seed.reaction:rxn00558', 'Glucose-6-phosphate isomerase'),
            ('seed.reaction:rxn00604', 'Phosphofructokinase'),
            ('seed.reaction:rxn00711', 'Fructose-bisphosphate aldolase'),
            ('seed.reaction:rxn00024', 'Glyceraldehyde-3-phosphate dehydrogenase'),
            ('seed.reaction:rxn00083', 'Phosphoglycerate kinase'),
            ('seed.reaction:rxn00119', 'Phosphoglycerate mutase'),
            ('seed.reaction:rxn00094', 'Enolase'),
            ('seed.reaction:rxn00200', 'Pyruvate kinase')
        ) AS t(reaction_id, reaction_name)
    ),
    reaction_presence AS (
        SELECT 
            gr.reaction_id,
            gr.reaction_name,
            COUNT(DISTINCT f.genome_id) as strains_with_reaction
        FROM glycolysis_reactions gr
        LEFT JOIN {namespace}.term_association ta ON gr.reaction_id = ta.object
        LEFT JOIN {namespace}.feature_annotation f 
            ON ta.subject = f.rast AND f.rast IS NOT NULL
        GROUP BY gr.reaction_id, gr.reaction_name
    )
    SELECT 
        reaction_name,
        strains_with_reaction,
        50 - strains_with_reaction as strains_missing_reaction,
        ROUND(strains_with_reaction * 100.0 / 50, 1) as presence_pct
    FROM reaction_presence
    ORDER BY strains_with_reaction DESC
    """
    
    missing_df = spark.sql(missing_reactions_query).toPandas()
    print(f"\nGlycolysis reaction presence across 50 strains:")
    display(missing_df)

time_query("Pathway Completeness Analysis", analyze_pathway_completeness)

### 6. Unique Functional Features by Strain

This query identifies functions (RAST roles) that are unique to individual strains, revealing strain-specific metabolic capabilities. These unique features may represent recent acquisitions through horizontal gene transfer or specialized adaptations to particular environments.

In [ ]:
def find_unique_strain_features():
    query = f"""
    WITH feature_distribution AS (
        -- Find features unique to single strains
        SELECT 
            rast,
            COUNT(DISTINCT genome_id) as strain_count,
            COLLECT_SET(genome_id)[0] as unique_to_genome
        FROM {namespace}.feature_annotation
        WHERE rast IS NOT NULL
        GROUP BY rast
        HAVING COUNT(DISTINCT genome_id) = 1
    ),
    unique_features_with_reactions AS (
        -- See if these unique features have known reactions
        SELECT 
            fd.unique_to_genome,
            fd.rast,
            ta.object as reaction_id,
            s1.value as reaction_name,
            s2.value as strain_name
        FROM feature_distribution fd
        LEFT JOIN {namespace}.term_association ta ON fd.rast = ta.subject
        LEFT JOIN {namespace}.statements s1 
            ON ta.object = s1.subject AND s1.predicate = 'rdfs:label'
        LEFT JOIN {namespace}.feature_annotation fa ON fd.unique_to_genome = fa.genome_id
        LEFT JOIN {namespace}.statements s2 
            ON fa.genome_taxa = s2.subject AND s2.predicate = 'rdfs:label'
        WHERE ta.object LIKE 'seed.reaction:%'
    ),
    strain_unique_counts AS (
        SELECT 
            unique_to_genome,
            MAX(strain_name) as strain_name,
            COUNT(DISTINCT rast) as unique_functions,
            COUNT(DISTINCT reaction_id) as unique_reactions
        FROM unique_features_with_reactions
        GROUP BY unique_to_genome
    )
    SELECT * FROM strain_unique_counts
    WHERE unique_reactions > 0
    ORDER BY unique_reactions DESC
    LIMIT 15
    """
    
    df = spark.sql(query).toPandas()
    print(f"Strains with unique metabolic capabilities:")
    display(df)
    
    # Show examples of unique functions
    examples_query = f"""
    WITH unique_features AS (
        SELECT 
            rast,
            COLLECT_SET(genome_id)[0] as genome_id
        FROM {namespace}.feature_annotation
        WHERE rast IS NOT NULL
        GROUP BY rast
        HAVING COUNT(DISTINCT genome_id) = 1
    )
    SELECT 
        uf.genome_id,
        uf.rast as unique_function,
        ta.object as reaction_id,
        s.value as reaction_name
    FROM unique_features uf
    INNER JOIN {namespace}.term_association ta ON uf.rast = ta.subject
    LEFT JOIN {namespace}.statements s 
        ON ta.object = s.subject AND s.predicate = 'rdfs:label'
    WHERE ta.object LIKE 'seed.reaction:%'
    LIMIT 10
    """
    
    examples_df = spark.sql(examples_query).toPandas()
    print(f"\nExamples of strain-specific functions and reactions:")
    display(examples_df)

time_query("Unique Strain Features Analysis", find_unique_strain_features)

### 7. Conservation Analysis: Most and Least Conserved Functions

This query analyzes GO term conservation to identify molecular functions that are universally conserved versus those that are rare. Highly conserved functions represent the core cellular machinery, while rarely conserved functions may indicate specialized adaptations or recent evolutionary innovations.

### 8. GO Term Hierarchy Analysis

This query explores the parent-child relationships in GO ontology by analyzing which GO terms have the most children and how deep the hierarchy goes. Understanding GO hierarchy helps reveal functional specialization patterns and the granularity of annotations across strains.

In [ ]:
def analyze_go_hierarchy():
    query = f"""
    WITH go_relationships AS (
        -- Get parent-child relationships from statements
        SELECT 
            s1.subject as child_go,
            s1.object as parent_go,
            s2.value as child_name,
            s3.value as parent_name
        FROM {namespace}.statements s1
        LEFT JOIN {namespace}.statements s2 
            ON s1.subject = s2.subject AND s2.predicate = 'rdfs:label'
        LEFT JOIN {namespace}.statements s3 
            ON s1.object = s3.subject AND s3.predicate = 'rdfs:label'
        WHERE s1.predicate = 'rdfs:subClassOf'
        AND s1.subject LIKE 'GO:%'
        AND s1.object LIKE 'GO:%'
    ),
    parent_child_counts AS (
        -- Count children for each parent GO term
        SELECT 
            parent_go,
            MAX(parent_name) as parent_name,
            COUNT(DISTINCT child_go) as child_count
        FROM go_relationships
        GROUP BY parent_go
    ),
    go_in_annotations AS (
        -- Find which GO terms are actually used in our annotations
        SELECT DISTINCT bakta_go as go_term
        FROM {namespace}.feature_annotation
        WHERE bakta_go IS NOT NULL
    )
    SELECT 
        pcc.parent_go,
        pcc.parent_name,
        pcc.child_count,
        CASE WHEN gia.go_term IS NOT NULL THEN 'Used in annotations' ELSE 'Not used' END as usage_status
    FROM parent_child_counts pcc
    LEFT JOIN go_in_annotations gia ON pcc.parent_go = gia.go_term
    WHERE pcc.child_count >= 10
    ORDER BY pcc.child_count DESC
    LIMIT 20
    """
    
    df = spark.sql(query).toPandas()
    print(f"GO terms with the most children in the hierarchy:")
    display(df)
    
    # Analyze depth of GO terms used in annotations
    depth_query = f"""
    WITH RECURSIVE go_depth AS (
        -- Base case: root GO terms (no parents)
        SELECT 
            subject as go_term,
            0 as depth
        FROM {namespace}.statements
        WHERE subject LIKE 'GO:%'
        AND subject NOT IN (
            SELECT subject 
            FROM {namespace}.statements 
            WHERE predicate = 'rdfs:subClassOf' 
            AND object LIKE 'GO:%'
        )
        
        UNION ALL
        
        -- Recursive case: children of current level
        SELECT 
            s.subject as go_term,
            gd.depth + 1 as depth
        FROM {namespace}.statements s
        JOIN go_depth gd ON s.object = gd.go_term
        WHERE s.predicate = 'rdfs:subClassOf'
        AND s.subject LIKE 'GO:%'
    ),
    annotated_go_depth AS (
        SELECT 
            f.bakta_go,
            MAX(gd.depth) as max_depth
        FROM {namespace}.feature_annotation f
        JOIN go_depth gd ON f.bakta_go = gd.go_term
        WHERE f.bakta_go IS NOT NULL
        GROUP BY f.bakta_go
    )
    SELECT 
        CASE 
            WHEN max_depth <= 3 THEN 'Shallow (0-3 levels)'
            WHEN max_depth <= 6 THEN 'Medium (4-6 levels)'
            WHEN max_depth <= 9 THEN 'Deep (7-9 levels)'
            ELSE 'Very deep (10+ levels)'
        END as depth_category,
        COUNT(*) as go_term_count,
        AVG(max_depth) as avg_depth
    FROM annotated_go_depth
    GROUP BY depth_category
    ORDER BY avg_depth
    """
    
    # Note: Recursive queries might not be supported, so let's use a simpler approach
    simple_depth_query = f"""
    WITH go_with_parents AS (
        SELECT 
            f.bakta_go,
            COUNT(DISTINCT s.object) as parent_count
        FROM {namespace}.feature_annotation f
        LEFT JOIN {namespace}.statements s 
            ON f.bakta_go = s.subject 
            AND s.predicate = 'rdfs:subClassOf'
            AND s.object LIKE 'GO:%'
        WHERE f.bakta_go IS NOT NULL
        GROUP BY f.bakta_go
    )
    SELECT 
        CASE 
            WHEN parent_count = 0 THEN 'Root terms'
            WHEN parent_count = 1 THEN 'Single parent'
            WHEN parent_count = 2 THEN 'Two parents'
            ELSE 'Multiple parents (3+)'
        END as hierarchy_type,
        COUNT(*) as go_term_count
    FROM go_with_parents
    GROUP BY hierarchy_type
    ORDER BY go_term_count DESC
    """
    
    hierarchy_df = spark.sql(simple_depth_query).toPandas()
    print(f"\nGO term hierarchy patterns in annotations:")
    display(hierarchy_df)

time_query("GO Term Hierarchy Analysis", analyze_go_hierarchy)

### 9. GO Enrichment by Strain

This query identifies strain-specific GO term enrichments by comparing the frequency of GO terms in individual strains against the background frequency across all strains. This reveals which biological functions are over-represented in specific strains, suggesting adaptations or specializations.

In [ ]:
def analyze_go_enrichment_by_strain():
    query = f"""
    WITH strain_go_counts AS (
        -- Count GO terms per strain
        SELECT 
            f.genome_id,
            f.bakta_go,
            s.value as go_name,
            COUNT(*) as count_in_strain
        FROM {namespace}.feature_annotation f
        LEFT JOIN {namespace}.statements s 
            ON f.bakta_go = s.subject AND s.predicate = 'rdfs:label'
        WHERE f.bakta_go IS NOT NULL
        GROUP BY f.genome_id, f.bakta_go, s.value
    ),
    global_go_counts AS (
        -- Count GO terms across all strains
        SELECT 
            bakta_go,
            COUNT(*) as global_count,
            COUNT(DISTINCT genome_id) as strains_with_term
        FROM {namespace}.feature_annotation
        WHERE bakta_go IS NOT NULL
        GROUP BY bakta_go
    ),
    strain_totals AS (
        -- Total annotations per strain
        SELECT 
            genome_id,
            COUNT(*) as total_annotations
        FROM {namespace}.feature_annotation
        WHERE bakta_go IS NOT NULL
        GROUP BY genome_id
    ),
    enrichment_analysis AS (
        SELECT 
            sgc.genome_id,
            sgc.bakta_go,
            sgc.go_name,
            sgc.count_in_strain,
            st.total_annotations as strain_total,
            ggc.global_count,
            ggc.strains_with_term,
            -- Calculate enrichment ratio
            (sgc.count_in_strain * 1.0 / st.total_annotations) / 
            (ggc.global_count * 1.0 / (SELECT SUM(total_annotations) FROM strain_totals)) as enrichment_ratio
        FROM strain_go_counts sgc
        JOIN global_go_counts ggc ON sgc.bakta_go = ggc.bakta_go
        JOIN strain_totals st ON sgc.genome_id = st.genome_id
        WHERE ggc.strains_with_term >= 10  -- Only consider GO terms in at least 10 strains
    ),
    top_enrichments AS (
        SELECT *
        FROM enrichment_analysis
        WHERE enrichment_ratio > 2.0  -- At least 2-fold enrichment
        AND count_in_strain >= 5      -- At least 5 occurrences in the strain
    )
    SELECT 
        genome_id,
        COUNT(DISTINCT bakta_go) as enriched_go_terms,
        AVG(enrichment_ratio) as avg_enrichment_ratio,
        MAX(enrichment_ratio) as max_enrichment_ratio
    FROM top_enrichments
    GROUP BY genome_id
    ORDER BY enriched_go_terms DESC
    LIMIT 15
    """
    
    df = spark.sql(query).toPandas()
    print(f"Strains with the most enriched GO terms:")
    display(df)
    
    # Show specific enriched GO terms for top strains
    specific_enrichments_query = f"""
    WITH strain_go_counts AS (
        SELECT 
            f.genome_id,
            f.bakta_go,
            s.value as go_name,
            COUNT(*) as count_in_strain
        FROM {namespace}.feature_annotation f
        LEFT JOIN {namespace}.statements s 
            ON f.bakta_go = s.subject AND s.predicate = 'rdfs:label'
        WHERE f.bakta_go IS NOT NULL
        GROUP BY f.genome_id, f.bakta_go, s.value
    ),
    global_go_counts AS (
        SELECT 
            bakta_go,
            COUNT(*) as global_count,
            COUNT(DISTINCT genome_id) as strains_with_term
        FROM {namespace}.feature_annotation
        WHERE bakta_go IS NOT NULL
        GROUP BY bakta_go
    ),
    strain_totals AS (
        SELECT 
            genome_id,
            COUNT(*) as total_annotations
        FROM {namespace}.feature_annotation
        WHERE bakta_go IS NOT NULL
        GROUP BY genome_id
    ),
    enrichment_details AS (
        SELECT 
            sgc.genome_id,
            sgc.bakta_go,
            sgc.go_name,
            sgc.count_in_strain,
            ggc.strains_with_term,
            (sgc.count_in_strain * 1.0 / st.total_annotations) / 
            (ggc.global_count * 1.0 / (SELECT SUM(total_annotations) FROM strain_totals)) as enrichment_ratio
        FROM strain_go_counts sgc
        JOIN global_go_counts ggc ON sgc.bakta_go = ggc.bakta_go
        JOIN strain_totals st ON sgc.genome_id = st.genome_id
        WHERE sgc.genome_id IN ('562.61119', '562.61097', '562.55859')  -- Top metabolic capacity strains
        AND ggc.strains_with_term >= 10
        AND sgc.count_in_strain >= 5
    )
    SELECT 
        genome_id,
        bakta_go,
        go_name,
        count_in_strain,
        strains_with_term,
        ROUND(enrichment_ratio, 2) as enrichment_ratio
    FROM enrichment_details
    WHERE enrichment_ratio > 1.5
    ORDER BY genome_id, enrichment_ratio DESC
    LIMIT 20
    """
    
    specific_df = spark.sql(specific_enrichments_query).toPandas()
    print(f"\nSpecific enriched GO terms in high-capacity strains:")
    display(specific_df)

time_query("GO Enrichment by Strain Analysis", analyze_go_enrichment_by_strain)

## Summary

This notebook demonstrated:

1. **Building blocks of Query 0**: How SEED reactions, roles, term associations, and feature annotations connect to map genome features to metabolic reactions

2. **Comparative genomics insights**: Analysis of 50 E. coli strains revealed:
   - Core vs accessory genome structure
   - Functional diversity in enzymatic capabilities
   - Metabolic capacity variations
   - Pathway completeness patterns
   - Strain-specific unique features
   - Conservation patterns of molecular functions

These queries showcase the power of integrating ontology data with genomic annotations to understand bacterial diversity and evolution.